<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true">
	<testsuites>
		<testsuite name="main">
			<directory>tests</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/integration/</directory>
		</testsuite>
		<testsuite name="callback">
			<directory>tests/unit/callback/</directory>
		</testsuite>
		<testsuite name="request">
			<directory>tests/unit/request/</directory>
		</testsuite>
		<testsuite name="request-clients">
			<directory>tests/unit/request/clients/</directory>
		</testsuite>
		<testsuite name="request-objects">
			<directory>tests/unit/request/data_objects/</directory>
		</testsuite>
		<testsuite name="request-builders">
			<directory>tests/unit/request/request_builders/</directory>
		</testsuite>
	</testsuites>
</phpunit>